<div class="row-fluid">
  <div class="span10 top">
    <h2>All Categories</h2>
    <% @abc.each do |abc| %>
        <ul class="unstyled">
          <li class="thumbnail">
            <h3><%= abc.first %></h3>
            <% @categories.each do |c| %>
                <% if c.start_with(abc) %>
                    <a href="/categories/<%= c.id%>/deals"><%= c.name %></a>&nbsp;(<%= c.count %>)&nbsp;
                <% end %>
            <% end %>
          </li>
        </ul>
    <% end %>
  </div>
  <div class="span2">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="nav-header">Sidebar</li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="nav-header">Sidebar</li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>

  </div>
</div>