<!DOCTYPE html>
<html>
<head>
  <title>Dealblues</title>
  <%= stylesheet_link_tag "docs", "bootstrap.min", "pagination" %>
  <%= javascript_include_tag "jquery", "bootstrap.min" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
